.onOffBlock {
    display: flex;
    margin-top: 30px;
}

.container {
    display: flex;
}

.onOff {
    height: 20px;
    border: 1px solid;
    padding: 2px;
}

.ind {
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 5px;
}