.onStyleA {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
    background-color: green;
}
.onStyleD {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    padding: 2px;
}

.offStyleA {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 2px;
    padding: 2px;
    background-color: red;
}
.offStyleD {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 2px;
    padding: 2px;
}

.indicatorStyleOn {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 5px;
    background-color: green;
}
.indicatorStyleOff {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 5px;
    background-color: red;
}